{% extends 'blogcab/base.html' %}

{% block contenido %}
<div>
    <p class="container my-3" >
        Mi nombre es Mariano Hilario, tengo 40 año, soy casado y tengo 3 hijos. Estudié Licenciatura en Administración de Empresas, pero siempre me gustó e interesó el mundo de la programación, por lo que algo estuve investigando y aprendiendo de manera autodidacta. Inicié el curso de Python porque al investigar vi que era una tecnología muy versatil, con un amplio campo de aplicación. No se si me terminaré dedicando a la programación, porque mi trabajo me demanda mucho tiempo del día, pero este curso me ha entusiasmado muchísimo y seguiré profundizando en los conocimientos de este lenguaje.
    </p>
</div>

{% endblock %}