{% extends 'blogcab/base.html' %}

{% block contenido %}
{% if user.is_authenticated %}
  <a href="{% url 'blogcab-crear' %}">Crear Post</a>
{% endif %}
<ul>
{% for post in object_list %}
  <li>
    {{post.fecha}} - - {{post.titulo}}
    {% if user.is_authenticated %}
      <a href="{% url 'blogcab-borrar' post.id %}">Borrar</a>
      <a href="{% url 'blogcab-actualizar' post.id %}">Actualizar</a>
    {% endif %}
    <a href="{% url 'blogcab-detalle' post.id %}">Ver</a>
  </li>
{% endfor %}
</ul>
{% endblock %}